$primary: #08A6E4;
$secundary: #FB3B64;
$special: #55DFB4;
$shadow-primary: #08a8e34a;
$shadow-secundary: #fb3c654a;
$shadow-special: #54deb24a;
$shadow-grey: #0000004a;
$white: #FFFFFF;
$grey: #95989a;
$border-grey: #E8E9ED;
